{% extends "baseadmin.html.twig" %}
{% block body%}

         <p class="text-end">
        <a href="{{ path('playlists.ajout') }}"class="btn btn-success">
            Ajouter une nouvelle playlists
        </a>
    </p>
    
     <table  class="table table-striped">
        
        <thead>
            <tr>
                <th class="text-left align-top" scope="col">
                    Toute les Playlists<br />
                    <a href="{{ path('playlists.sort', {ordre: 'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('playlists.sort',{ordre: 'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>
                    <form class="form-inline mt-1" method="POST" action="<{{ path('playlists.filtre', {champ:'name'}) }}>
                        <div class="form-group mr-1 mb-2">
                            <input type="text" class="sm" name="recherche" 
                                   value="{% if valeur|default and not table|default %}{{ valeur }}{% endif %}">
                            <input type="hidden" name="_token" value="{{ csrf_token('filtre_title') }}">
                            <button type="submit" class="btn btn-info mb-2 btn-sm">filtrer</button>
                        </div>
                    </form>                    
                </th>
                
               
                <th class="text-center align-top" scope="col">
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            {% for playlist in playlists %}
                <tr class="align-middle">
                    <td>
                        <h5 class="text-info">
                            {{ playlist.name }}
                        </h5>
                    </td>
                                   
                                       
                    
                    <td class="text-center">
                        
                    </td>
                     <td class="text-center">
                            <a href="{{ path('playlists.suppr', {id:playlist.id} ) }}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer {{ playlist.name }} ?')">Supprimer</a>
                   
                    </td>
                     <td class="text-center">
                            <a href="{{ path('playlists.edit', {id:playlist.id}) }}" class="btn btn-secondary">Modifier</a>
                    </td>
                </tr>
               
            {% endfor %}
             
        </tbody>
    </table>
{% endblock %}
